* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  background-color: yellow;
  margin: 2px;
  height: 50px;
  width: 150px;
}

.wrapper {
  background-color: blue;
  height: 400px;
  width: 400px;
}

.box {
  background-color: red;
  height: 100px;
  width: 100px;
}
