* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 1000px;
}

.box {
  width: 300px;
  height: 250px;
  background-color: olive;
  margin: 5px;
}